.openapi-generator
.openapi-generator-ignore
openapitools.json

# IDE files
.classpath
.project
.settings/
.factorypath
*.iml
.idea/
.vscode/

# OS files
.DS_Store

# Build artifacts
target/
node_modules
node/e2e-tests/test-results/.last-run.json
