name: Build and Push Theia Cloud Images

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  build-and-push-landing-page:
    uses: ls1intum/.github/.github/workflows/build-and-push-docker-image.yml@feature/arc-runner-support
    with:
      docker-file: dockerfiles/landing-page/Dockerfile
      image-name: ghcr.io/ls1intum/theia/landing-page
      docker-context: .
      runner-amd64: "arc-runner-set-stateless"
      runner-arm64: "arc-runner-set-arm64"
      build-arm64: true
      registry-mirror: "http://harbor-core.harbor.svc.cluster.local"
      registry-insecure: true
    secrets: inherit

  build-and-push-operator:
    uses: ls1intum/.github/.github/workflows/build-and-push-docker-image.yml@feature/arc-runner-support
    with:
      docker-file: dockerfiles/operator/Dockerfile
      image-name: ghcr.io/ls1intum/theia/operator
      docker-context: .
      runner-amd64: "arc-runner-set-stateless"
      runner-arm64: "arc-runner-set-arm64"
      build-arm64: true
      registry-mirror: "http://harbor-core.harbor.svc.cluster.local"
      registry-insecure: true
    secrets:
      docker-secrets: |
        SENTRY_AUTH_TOKEN=${{ secrets.SENTRY_AUTH_TOKEN }}

  build-and-push-service:
    uses: ls1intum/.github/.github/workflows/build-and-push-docker-image.yml@feature/arc-runner-support
    with:
      docker-file: dockerfiles/service/Dockerfile
      image-name: ghcr.io/ls1intum/theia/service
      docker-context: .
      runner-amd64: "arc-runner-set-stateless"
      runner-arm64: "arc-runner-set-arm64"
      build-arm64: true
      registry-mirror: "http://harbor-core.harbor.svc.cluster.local"
      registry-insecure: true
    secrets:
      docker-secrets: |
        SENTRY_AUTH_TOKEN=${{ secrets.SENTRY_AUTH_TOKEN }}
